@font-face {
  font-family: "Regular";
  src: url(../Epilogue/Epilogue-VariableFont_wght.ttf);
  font-family: "Medium";
  src: url(../Epilogue/Epilogue-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark_background {
  background-color: hsl(237, 14%, 26%);
}

.light_background {
  background-color: white;
}

.light_toggler {
  cursor: pointer;
}

#toAdd {
  cursor: pointer;
}

.white {
  color: white;
}

input[type=checkbox] {
  display: none;
}

#champSaisie {
  border: none;
  font-weight: 600;
}
#champSaisie:focus {
  outline: none;
}
#champSaisie::placeholder {
  font-weight: 600;
  font-family: "Regular";
}

label {
  border: 1px solid hsl(240, 2%, 18%);
  padding: 0.9rem 1.2rem;
  border-radius: 50%;
  margin-right: 1.2em;
  margin-left: 20px;
}

.bg-desaturate {
  background-color: hsl(235, 24%, 19%);
}

body {
  background: url(../images/bg-desktop-dark.jpg) top no-repeat;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  line-height: 1.1em;
}
@media (max-width: 700px) {
  body {
    background-image: url(../images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    padding: 0 10px 0 10px;
    margin: 30px;
  }
}

#todolist {
  width: 500px;
  margin: auto;
  margin-top: 7% !important;
  word-wrap: break-word;
  word-break: break-all;
}
@media (max-width: 700px) {
  #todolist {
    position: relative;
    top: 45px;
    margin-top: 5%;
  }
}
#todolist .todolist__title {
  font-size: 2.5em;
  letter-spacing: 8px;
  font-weight: 500;
  font-family: "Medium";
}
#todolist .intro {
  margin-bottom: 35px;
}
#todolist .todo_content {
  background-color: hsl(237, 14%, 26%);
}
#todolist .todo_content2 {
  background-color: white;
}
#todolist .todo-body {
  box-shadow: 0px 30px 10px 2px rgb(34, 34, 34);
  border-radius: 8px;
  font-family: "Regular";
}
#todolist .way:hover {
  color: rgb(35, 194, 101);
  cursor: pointer;
  font-weight: 600;
}
#todolist .text-blue {
  color: hsl(220, 98%, 61%);
  font-weight: 600;
}
#todolist .todo-body div {
  margin-bottom: 10px;
  font-weight: 600;
}
#todolist .todo-body div label:hover {
  cursor: pointer;
  border-color: rgb(252, 143, 246);
}
#todolist .order-todo {
  font-size: 13px;
  padding: 0 15px 10px 15px;
  color: hsl(234, 11%, 52%);
  margin-top: -8px;
}
#todolist .Border {
  border-bottom: 1px solid hsl(234, 11%, 52%);
}
#todolist .drop {
  font-size: 15px;
  color: hsl(234, 11%, 52%);
}
#todolist .icon {
  cursor: pointer;
}

.asCompleted {
  opacity: 0.2;
  text-decoration: line-through 3px rgb(179, 179, 179);
}

.Completed {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 8px;
  background-color: rgb(224, 85, 236);
}

.no-there {
  display: none !important;
}

@media screen and (max-width: 590px) {
  #todolist {
    width: 340px;
  }
  .left-items,
  #clear {
    display: none;
  }
  .choose-way {
    text-align: center;
    margin: auto !important;
  }
}
.Border {
  word-break: break-word;
}

/*# sourceMappingURL=style.css.map */
